*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background: linear-gradient(to bottom , violet,pink ,white);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 90px;
}

#pokeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
}

h1{
    font-size: 250%;
    letter-spacing: 2px;
}

h1:hover{
    color: white;
    text-shadow: 2px 4px 2px rgb(149, 51, 149);
}

h2:hover{
    background-color: rgb(202, 37, 208);
    border-radius: 10px;
    color: rgb(246, 243, 247);
   
}

#imgPoke{
    height: 200px;
    margin: 50px;
}

#namePoke{
    text-transform: capitalize;
    font-size: 30px;
    padding: 10px;
}

#forms input:hover{
    cursor:pointer;
}

#forms{
    display: flex;
    gap: 15px;
    font-size: 20px;
}

#forms button{
    background-color: black;
    border-radius: 4px;
    padding: 2px 10px;
    color: wheat;
}


#forms button:active{
    background-color: rgb(231, 2, 235);
    font-size: 13px ;
}

#dark{
    align-self: end;
}

@media screen and (max-width:500px) {
    #pokeContainer{
        gap: 50px;
        text-align: center;
    }

    #forms{
        display: flex;
        flex-direction: column;
    }

    h1{
        font-size: 20px;
    }

    #imgPoke{
        height: 150px;
    }

    #namePoke{
        font-size: 20px;
    }
}
